<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 1000px;
        padding-top: 50px;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="/">영화관 목록</a>
      <a href="/movieTable">상영중인 영화</a>
      <h3><p>{{notice}}</p></h3>       <!-- my_str 바인딩 -->
      <h3><p>상영중인 영화 : </p></h3>                        <!-- my_list 순회 -->
      <ul>
        {% for n in movieList %}
        <li><a href="/timetable/{{n[1]}}">{{n[0]}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
