<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 1000px;
        padding-top: 50px;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3><p>{{notice}}</p></h3>       <!-- my_str 바인딩 -->
      <h3><p>상영 시간표 : </p></h3>                        <!-- my_list 순회 -->
      <ul>
        {% for n in theaterList %}
        <li><a href="/timetable/{{n[1]}}/{{n[3]}}">{{n[1]}} {{n[3]}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
