/** style test **/

/** movieList, theaterList **/
body {
    background-color: #fdfcf0;
}
.container {
    max-width: 1000px;
    padding-top: 50px;
    font-size: 16px;
}

#contents #contents_head{
    color : brown;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

.theater_list {
	font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    overflow: hidden;
    word-break: break-all;
}

.theater_list .theater {
	float:left;
	list-style: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
        width: 25%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%);
    font-weight: bold;
    transition: 0.3s;
}
.theater_list .theater:hover{border: 1px solid #e63c3c;  transition: 0.3s; box-sizing: border-box;}

.theater_list .theater a:hover{
    

}

.theater_list .theater a {
	color: #FA8258;
	text-decoration: none;
	display: block;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 33px;
    width: 100%;
    padding: 8px 14px 5px;
        

}

.menuList {
    margin-left: -40px; 
    overflow : hidden;
}

.menuList .menu {
    width: 30%;
    list-style: none;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    float: left;
    background-color: bisque;
    border-style: outset;
}

.menu a {
    display: block;
	color: black;
	text-decoration: none;
}

.menuList .menu:hover {
    background-color: darkorange;
}

.movieTime_list .movieTime {
    float: left;
    list-style: none;
    position: relative;
    width: 29%;
    height: 100px;
    margin: 2px;
    padding-top: 5px;
    border: 1px solid burlywood;
    line-height: 1.4;
    text-align: left;
    padding: 17px;
}

.movieTime_list .movieTime a:hover {
    text-decoration: none;
}

.movieTime_list .movieTime a:visited {
    text-decoration: none;
}

.movieTime_list .movieTime .movieName_link {
    display: block;
    float: left;
    width : 48%;
    height: 100%;
    padding: 2px;
    font-weight: bold;
    color: brown;
}

.movieTime_list .movieTime:hover {
    background-color: antiquewhite;
}

.movieTime_list .movieTime em {
    width: 48%;
    float: left;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.movieTime_list .movieTime .left_seats {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 10px;
    width: 48%;
    text-align: center;
}


.movieTime_list .movieTime .movieTime {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 0px !important;
}

@media screen and (max-width:640px){
    .theater_list .theater {
        width: 50%;
    }
    
    .movieTime_list .movieTime {
        width: 46%;
    }
}



/** movieInfo.html **/
.movieInfoArea .moviePoster {
    float: right;
    position: relative;
    min-width: 21%;
    min-height: 150px;
    max-width: 21%;
    max-height: 290px;
}

.moviePoster img{
    width: 100%;
    height: 100%;
}

.movieInfoArea h4 {
    /* float:left; */
    font-size: 19px;
    position: relative;
    color: #444;
    padding: 40px 0 10px;
    font-weight: 400;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}

.movieInfoArea .genres {
     width:79%;
}

.movieInfoArea .directores {
     width:79%;
}
.movieInfoArea .actors {
     width:79%;
}

.movieInfoArea .actors ul{
    float:none;
    margin-bottom: -4px;
}

.movieInfoArea .actors ul li{
    list-style: none;
    float: left;
    width: 111px;
    height: 195px;
}

.movieInfoArea .actors img{
    width:111px;
    height:139px;
}




/** peopleinfo **/
.filmos h4 {
    /* float:left; */
    font-size: 19px;
    position: relative;
    color: #444;
    padding: 40px 0 10px;
    font-weight: 400;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}


/** movePlayList **/
.movePlayList li{
    float: left;
    width: 29%;
    list-style: none;
    margin-left: -40px;
    margin-top: 15px;
    text-align: -webkit-center;
}

.movePlayList .theater{
    border: 1px solid burlywood;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-right: 8px;
    width: 200px;
}

.movePlayList .movie{
    background-color: aliceblue;
    margin-right: 8px;
}

.movePlayList .time{
    font-weight: bold;
    text-decoration-line: underline;
    margin-right: 8px;
}

.movePlayList .seats{
    margin-right: 8px;
}


/** boxOffice **/
table{
    width: 100%;
}

table th{
    background-color: white;
}

table th, td{
    text-align: center;
}
.boxOffice .rank {
    width: 10%;
 }

.boxOffice .rankUD {
    width: 10%;
 }

.boxOffice .NO {
    width: 15%;
 }

.boxOffice .date {
    width: 15%;
 }